html.lessons-lock,
html.lessons-lock body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.lessonsLayout__body {
  display: flex;
  height: 100vh;
  padding-top: var(--header-height);
  overflow: hidden;
}

.lessonsLayout__content {
  padding: 18px 14px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  flex-grow: 1;
  min-width: 0;
}

.lessonsLayout__content--fullWidth {
  padding-left: 0;
  padding-right: 0;
}
