html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;           /* скролл не у body */
}

.lessonsLayout__body {
  display: flex;
  height: 100vh;
  padding-top: var(--header-height);
  overflow: hidden;
}

.lessonsLayout__sidebar {
  width: 280px;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;

}

.lessonsLayout__content {
  padding: 24px 16px;
  overflow-y: auto;
  flex-grow: 1; 
}